.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.quoteContainer {
    padding-top: 24px;
  width: 60%;
}

.quote{
    text-align: center;
}

.author {
  text-align: right;
}
