.mostPopularBooks{
    margin-top: 48px;
}

.title{
    text-align: center;
    font-family: 'Agbalumo', cursive;
}

.containerBooks {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 24px 0;
  align-items: center;
  justify-items: center;
}

.img {
  height: 40%;
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  background: #CCC;
    -webkit-box-shadow:  0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow:  0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow:  0 20px 20px -20px rgba(0,0,0,0.8);
}